﻿
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
@await Component.InvokeAsync("BlogListHeadComponentPartial")
<body>
	@await Component.InvokeAsync("BlogListNavbarComponentPartial")

	@await Component.InvokeAsync("BlogListComponentPartial")

	@await Component.InvokeAsync("_FooterComponentPartial")

	@await Component.InvokeAsync("_ScriptComponentPartial")

</body>
</html>